/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* Common styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.section-title{
    width: 65%;
    margin: 0 auto;
    text-align: center;
}


.section-title > p{
    color: #727272;
}
.section-header{
    font-weight: 700;
    color: #727272;
    
}

.section-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.button-primary{
    font-size: 20px;
    border:none;
    padding:22px;
    color: white;
    background: #FF900E;
border-radius: 8px;
cursor: pointer;
}
.button-primary:hover{
    background-color: crimson;
}

/* Header Styles */
header{
    background-color:rgba(255, 144, 14, 0.1);
    padding-bottom: 30px;
}
.name{
    font-size: 45px;
    font-weight: 700; 
}
.name span{
    color:crimson;
}

nav{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul{
    display: flex;
    gap: 30px;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color: #424242;
}
.nav ul li a:hover{
    color: crimson;
}
/* Banner Styles */
.banner-text h1{
    font-size: 65px;
    font-weight: 700px;
    
}
.banner-text p{
    font-size: 16px;
    margin: 20px 0;
}
.banner-text button{
    margin-bottom: 30px;
}
.banner-images img{
    width: 100%;
}

/* Main section  */
/* Feature styles */
.feature-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.feature{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.feature-header{
    font-size: 45px;
    font-weight: 700;
    color: #FF900E;
}
.feature-text h2 > span {
    color: #727272;
    font-weight:600;
}
.feature-text h2 > strong {
    color:black;
    font-weight: 700;
}
.feature-text > .section-description{
    margin: 30px 0 40px;
}


/* service styles */
.service-details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    align-items: center;
}
.items{
   
    margin-top: 80px;
    position: relative;
    padding-bottom: 70px;
}

.items > .section-header {
    padding: 0 20px;
    font-size: 45px;
    font-weight: 700;
    border-left: 10px solid #FF900E;
}

.items > .section-description{
    margin: 20px 0 0;
}
.section-image img{
    width: 100%;
}
.experience{
    color: white;
    background-color: #FF900E;
    /* padding:30px 25px; */
    border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 415%;
}

.service{
    padding: 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin: 20px 0 0;
}
.service p{
    font-size: 16px;
    color:#727272;
    margin-top: 8px;
}

.experience-description{
    font-size: 25px;
    text-align: center;
}
.experience .button-primary{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

/* Facts Section */


.facts{
    margin-top: 80px;
}
.facts-section-title h2{
    font-size: 45px;
    font-weight: 700;
}
.facts-section-title p{
    margin: 20px;
    font-weight: 400;
font-size: 16px;

color: #727272;

}
.about-fact{
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.about-fact .item {
    border: 1px solid #FF900E;
    transition: background-color .5s ease-out;
    padding: 40px;
    border-radius: 10px;
}
.about-fact .item:hover{
    background-color:crimson;
    color: #ffffff;
}
.about-fact .item:hover p{
    color: #ffffff;
}


/* Sponsor Style */

.sponsors{
    margin: 100px 0;
}
.sponsors .section-title h2{
    font-size: 45px;
}
.sponsor{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100%;
}
.sponsor img{
    filter: grayscale(100%);
}


/* footer styles */

footer{
    background-color: rgba(255, 144, 14, 0.1);
    padding: 30px 0;
    text-align: center;
}

.footer-text{
    font-size:20px;
    color: #424242;
}
.contact h3{
    font-size: 20px;
    font-weight: 700;
    color: #424242;
    margin: 10px 0;
}
.contact a i{
   margin-bottom: 20px;
}